<header class="mdc-top-app-bar mdc-top-app-bar--fixed--prominent" [mdcElevation]="24">
    <div class="mdc-top-app-bar__row mdc-ripple-surface">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <span class="mdc-top-app-bar__title">WorkShop Questioner </span>
      </section>
    </div>
  </header>

<div class="mdc-top-app-bar--fixed-adjust">
  <mdc-card class="demo-card" [mdcElevation]="15">
    <mdc-card-primary-action mdc-ripple>
      <mdc-card-media class="demo-card__media--16-9" [wide]="false"></mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="demo-card__title" mdcHeadline3>VSTS Account</h1>
        <h3 class="demo-card__subtitle" mdcSubtitle2>CI/CD Tool</h3>
      </div>
      <div class="demo-card__secondary" mdcBody2>
        <br/>
        <div class="media">
            <object width="420" height="315"
            data="https://www.youtube.com/embed/tgbNymZ7vqY">
            </object>
        </div>
        <br/>
        <h3 mdcHeadline6>Check List TODO</h3>
        <div>
          <mdc-list #checkboxes [border]=true dense=true>
            <mdc-list-item (click)="vsts1.toggle()">
              <a  target="_blank" href="https://visualstudio.microsoft.com/vso/">sign-up</a>
              <mdc-checkbox #vsts1 mdcListItemMeta></mdc-checkbox>
            </mdc-list-item>
              <mdc-list-item (click)="vsts2.toggle()">
                Click "Get started for free" button
                <mdc-checkbox #vsts2 mdcListItemMeta></mdc-checkbox>
              </mdc-list-item>
                <mdc-list-item (click)="vsts3.toggle()">
                  Sign in with cognizant mail id.
                  <mdc-checkbox #vsts3 mdcListItemMeta></mdc-checkbox>
                </mdc-list-item>
              </mdc-list>
        </div>
      </div>
    </mdc-card-primary-action>
  </mdc-card>

<div class="mdc-top-app-bar--fixed-adjust">
    <mdc-card class="demo-card" [mdcElevation]="15">
      <mdc-card-primary-action mdc-ripple>
        <mdc-card-media class="demo-card__media--16-9" [wide]="false"></mdc-card-media>
        <div class="demo-card__primary">
          <h1 class="demo-card__title" mdcHeadline3>Azure Cloud Account</h1>
          <h3 class="demo-card__subtitle" mdcSubtitle2>For running Jenkins VM</h3>
        </div>
        <div class="demo-card__secondary" mdcBody2>
          <br/>
          <div class="media">
              <object width="420" height="315"
              data="https://www.youtube.com/embed/tgbNymZ7vqY">
              </object>
          </div>
          <br/>
          <h3 mdcHeadline6>Check List TODO</h3>
          <div>
            <mdc-list #checkboxes [border]=true dense=true>
              <mdc-list-item (click)="azure1.toggle()">
                <a  target="_blank" href="https://azure.microsoft.com/en-gb/free/">sign-up</a>
                <mdc-checkbox #azure1 mdcListItemMeta></mdc-checkbox>
              </mdc-list-item>
              <mdc-list-item (click)="azure2.toggle()">
                Click "Start for free" button
                <mdc-checkbox #azure2 mdcListItemMeta></mdc-checkbox>
              </mdc-list-item>
              <mdc-list-item (click)="azure3.toggle()">
                Sign in with cognizant mail id.
                <mdc-checkbox #azure3 mdcListItemMeta></mdc-checkbox>
              </mdc-list-item>
            </mdc-list>
          </div>
        </div>
      </mdc-card-primary-action>
    </mdc-card>
    
  <div class="mdc-top-app-bar--fixed-adjust">
    <mdc-card class="demo-card" [mdcElevation]="15">
      <mdc-card-primary-action mdc-ripple>
        <mdc-card-media class="demo-card__media--16-9" [wide]="false"></mdc-card-media>
        <div class="demo-card__primary">
          <h1 class="demo-card__title" mdcHeadline3>Pivotal Account</h1>
          <h3 class="demo-card__subtitle" mdcSubtitle2>For deployment Enviroment - Simulate OTAP</h3>
        </div>
        <div class="demo-card__secondary" mdcBody2>
          <br/>
          <div class="media">
              <object width="420" height="315"
              data="https://www.youtube.com/embed/tgbNymZ7vqY">
              </object>
          </div>
          <br/>
          <h3 mdcHeadline6>Check List TODO</h3>

          <div>
            <mdc-list #checkboxes [border]=true dense=true>
              <mdc-list-item (click)="pcf1.toggle()">
                  <a href="https://account.run.pivotal.io/z/uaa/sign-up">sign-up</a>
                <mdc-checkbox #pcf1 mdcListItemMeta></mdc-checkbox>
              </mdc-list-item>
              <mdc-list-item (click)="pcf1.toggle()">
                  Fill in the details asked and Enter phone no for validation.
                <mdc-checkbox #pcf1 mdcListItemMeta></mdc-checkbox>
              </mdc-list-item>
            </mdc-list>
          </div>
        </div>
      </mdc-card-primary-action>
    </mdc-card>
</div>
